
    <div class="slider_cover">
        <header>
            <div class="profile_title">John Doe</div>
            <div class="profile_photo">
                <img src="{{ url_for('static', filename='profile_photo.jpg') }}" alt="Profile Photo">
            </div>
        </header>
        <section class="conversations">
            <div class="message user-message">memory-1</div>
            <div class="message bot-message">memory-2</div>
        </section>
        <footer>
            <nav class="footer_nav">
                <ul>
                    <li class="nav_item" href="{{ url_for('home.chat')}}">Home</li>
                    <li class="nav_item" href="{{ url_for('home.chat')}}">Chat</li>
                    <li class="nav_item" href="{{ url_for('home.chat')}}">Contact</li>
                    <li class="nav_item" href="{{ url_for('home.about')}}">About</li>
                </ul>
            </nav>
        </footer>
    </div>


